<!-- Validation failure messages -->
<% if @apartment.errors.any? %>
  <% @apartment.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Apartment</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_apartment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for apartment_number -->
      <div class="form-group">
        <label for="apartment_number" class="control-label">
          Apartment number
        </label>

        <input type="text" id="apartment_number" name="apartment_number" placeholder="Apartment number" class="form-control" value="<%= @apartment.apartment_number %>">
      </div>

      <button class="btn btn-success">
        Create Apartment
      </button>
      or
      <a href="/apartments">Cancel</a>
    </form>
  </div>
</div>
